<!-- <div class="home-carousel">
    <owl-carousel-o [options]="customOptions" class="owl-container overflow-hidden">
        <ng-template carouselSlide>
            <img src="../../assets/images/slider-image-1.jpeg" alt="">
        </ng-template>
        <ng-template carouselSlide>
            <img src="../../assets/images/slider-image-2.jpeg" alt="">
        </ng-template>
        <ng-template carouselSlide>
            <img src="../../assets/images/slider-image-3.jpeg" alt="">
        </ng-template>
    </owl-carousel-o>

</div> -->