<footer class="bg-main-light p-5 position-sticky bottom-0">
    <div class="container">

        <p class="w-75 lead"> Subscribe to send you <span class="text-main"> exclusive offers, unique gifts and
                personalized tips </span> for shopping
            and
            selling on <span class="text-main"> E-commerce </span> </p>

        <div class="email-input d-flex justify-content-between py-2 px-3 rounded-pill bg-white w-75 mx-auto">
            <input type="email" class="w-75" placeholder="Drop your email... ">
            <button type="submit" class="btn bg-main rounded-pill text-white ">
                <span> subscribe </span>
                <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>

    </div>
</footer>