<app-loader *ngIf="isLoading"></app-loader>


<div class="shadow-lg p-5 bg-main-light mx-auto rounded-4" *ngIf="!isLoading" @fadeIn>
    <div class="cart-header d-flex justify-content-between align-items-center">
        <div class="cart-main-info">
            <h3>Shop Cart</h3>
            <h6 class="text-main">Total Price : {{cart?.totalCartPrice|currency}}</h6>
        </div>
        <div class="clear-cart">
            <button class="btn btn-danger" (click)="clearUserCart()">
                <i *ngIf="isClearLoading" class="fa-solid fa-spinner fa-spin"></i>
                <span *ngIf="!isClearLoading">Clear Cart</span>
            </button>
        </div>
    </div>


    <ng-container *ngIf="cart?.products?.length">
        <div *ngFor="let product of cart?.products let isLast = last" class="row align-items-center py-5 product"
            [class.border-bottom]="!isLast">
            <div class="col-md-2">
                <img class="w-100" [src]="product.product.imageCover" alt="{{product.product.title}}">
            </div>
            <div class="col-md-10 d-flex justify-content-between mt-5 mt-md-0 ">
                <div>
                    <h6>{{product.product.title}}</h6>
                    <h6 class="text-main my-2">Price: {{product.price|currency}}</h6>
                    <button (click)="deleteProductFromCart(product.product.id)" class="btn m-0 p-0">
                        <i *ngIf="!loadingProductRemoval[product.product.id]"
                            class=" text-main fa-regular fa-trash-can"></i>
                        <span *ngIf="!loadingProductRemoval[product.product.id]" class="ms-2">Remove</span>
                        <i *ngIf="loadingProductRemoval[product.product.id]"
                            class="fa-solid fa-spinner fa-spin text-main"></i>
                    </button>
                </div>
                <div>
                    <button
                        (click)="updateProductCount(product.product.id,product.count+1);product.count=product.count+1;"
                        class="btn-sm btn btn-count bg-main text-white"> + </button>
                    <span class="mx-2">{{product.count}}</span>
                    <button [disabled]="product.count === 1"
                        (click)="updateProductCount(product.product.id, product.count - 1); product.count = product.count - 1"
                        class="btn-sm btn btn-count bg-main text-white"> - </button>

                </div>
            </div>
        </div>
        <div class="cart-footer pt-3">
            <a class="btn bg-main text-white btn-checkout" routerLink="/pages/checkout/{{cart?._id}}">Checkout</a>
        </div>
    </ng-container>

    <ng-container *ngIf="!isLoading && !cart?.products?.length">
        <div class="text-center my-4 center-elem flex-column">
            <p>Your cart is empty.</p>
            <div class="empty-cart">
                <img class="w-100" src="assets/images/empty-cart.png" alt="">
            </div>
        </div>

    </ng-container>


</div>